@import 'mixins';
@import 'variables';

.account {
    width: 70%;
    margin: auto;
    display: flex;
    padding: 5rem;
    gap: 10%;

    @include respond (tab-land) {
        width: 80%;
    }

    @include respond (mob-nav) {
        display: flex;
        flex-direction: column;
    }

    @include respond (phone) {
        width: 90%;
    }

    &__div {
        width: 45%;
        display: flex;
        padding: 2rem;
        border: .1rem solid $color-black;
        gap: 5%;
        background-color: $color-white;
        border-radius: 7%;

        @include respond (tab-port) {
            width: 100%;
            height: 15rem;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }

        &--img {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #B8DDE1;
            border-radius: 50%;
            height: 8rem;
        }

        &--icon {
            font-size: 5rem;
            color: $color-black;

            @include respond (tab-land) {
                font-size: 4rem;
            }

            @include respond (tab-port) {
                font-size: 3rem;
            }
        }

        &--heading {
            font-size: 2.2rem;
            font-weight: 300;
            color: $color-black;
        }

        &--para {
            font-size: 1.2rem;
            color: $color-black;
        }
    }
}