@import "mixins";
@import "variables";

.item {
  display: flex;
  width: 100%;
  align-items: center;

  &__image {
    width: 25%;

    @include respond(mob-nav) {
      width: 35%;
    }

    &--photo {
      width: 70%;
      object-fit: contain;

      @include respond(mini-phone) {
        width: 80%;
      }
    }
  }

  &__info {
    width: 75%;
    display: flex;

    @include respond(mob-nav) {
      width: 65%;
    }

    @include respond(mini-phone) {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    &--details {
      width: 90%;
    }

    &--name {
      font-size: 2rem;
      font-weight: 400;

      @include respond(mob-nav) {
        font-size: 2.5rem;
      }

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &--form {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      font-weight: 100;

      @include respond(mob-nav) {
        font-size: 1.7rem;
      }

      @include respond(mini-phone) {
        font-size: 1.3rem;
      }
    }

    &--link {
      color: #8400ee;
      margin-left: 1rem;
    }

    &--input {
      background-color: #fff;
    }

    &--label {
      margin-left: 0.5rem;
    }

    &--delete {
      font-size: 1.5rem;
      color: red;

      &:hover {
        cursor: pointer;
      }
    }

    &--price {
      font-size: 1.8rem;
      font-weight: 500;
      color: $color-price;

      @include respond(mob-nav) {
        font-size: 2.1rem;
      }
    }
  }

  &__hr {
    background-color: $color-black;
    height: 0.1rem;
    width: 100%;
    margin-top: 2rem;
  }
}

.items {
  //   height: 35vh;
  background-color: $color-white;
  padding: 2rem;
}
