@import 'mixins';
@import 'variables';

.password {
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

    &__label {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    &__input {
        width: 60%;
        height: 3rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    &__button {
        background-color: #ffd712;
        width: 60%;
        height: 3rem;
        border: none;
        font-size: 1.5rem;

       &:hover {
            background: #f3ce12;
        }
    }
}