@import "mixins";
@import "variables";

.product {
  width: 48%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  height: 60vh;
  margin-bottom: 3rem;

  @include respond(tab-land) {
    height: 60vh;
  }

  @include respond(tab-port) {
    height: 60vh;
  }

  @include respond(mob-nav) {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    height: 60vh;
  }

  &__image {
    height: 65%;
    width: 100%;

    &--photo {
      height: 100%;
      width: 50%;
      margin-left: 25%;
      margin-top: 2rem;
      object-fit: contain;

      @include respond(phone) {
        width: 70%;
        object-fit: contain;
        margin-left: 15%;
      }
    }
  }

  &__info {
    width: 100%;
    margin-top: 2.5rem;
    margin-left: 0.5rem;

    @include respond(mob-nav) {
      text-align: center;
    }

    @include respond(mini-phone) {
      width: 100%;
      text-align: center;
    }

    &--name {
      color: $color-black;
      font-size: 2rem;
      margin-bottom: 0.5rem;

      @include respond(tab-land) {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      @include respond(mob-nav) {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      @include respond(mini-phone) {
      }
    }

    &--description {
      color: $color-primary;
      font-size: 2rem;
      margin-bottom: 0.5rem;

      @include respond(phone) {
        font-size: 1.7rem;
      }

      @include respond(mini-phone) {
      }
    }

    &--price {
      color: $color-price;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;

      @include respond(tab-land) {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      @include respond(mob-nav) {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }

    &--button {
      background-color: #ffd712;
      width: 30%;
      height: 3rem;
      border: none;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      display: block;
      text-align: center;
      color: $color-black;
      align-items: center;
      transition: all 0.5s;

      @include respond(mob-nav) {
        margin: auto;
      }

      @include respond(phone) {
        width: 45%;
      }

      @include respond(mini-phone) {
        margin: auto;
      }

      &:hover {
        background: #f3ce12;
        transform: translateY(-0.5rem);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}
