$color-primary: #131921;
$color-orange-light: #febd68;
$color-orange-dark: #f08806;
$background: #eaeded;
$color-white: #ffffff;
$color-black: #2b353f;
$slider-background: #c9c9c9;
$color-price: #D2836F;
// #91969D;
